<h1>Dictionary-Key:Value Pairs</h1>

- Dictionary are simply another type of collection in Python , rather than having an index associated with each data-item dictionaries in python have a "key" and a "value of that key".Therefore dictionary is a collection of key-value pairs.

<h2>Properties of Dictionary</h2>

- Dictionaries are mutable, meaning you can change, add, or remove items after the
  dictionary has been created.

- Dictionaries do not maintain any specific order of items. However, as of Python 3.7, dictionaries preserve the insertion order (the order in which the items are added).

- The keys in a dictionary must be of an immutable data type, such as strings, numbers, or tuples. Lists or other dictionaries cannot be used as keys.

- The values in a dictionary can be of any data type, including lists, other dictionaries, or even functions.

- In dictionary keys should be unique but values can be duplicate.

- Internally dictionaries are indexed on the basis of keys.

<h4>Creating a list</h4>

In [78]:
# creating a dictionary
# syntax: <dict_name>={key:value,key:value..}
my_d={1:'Abhay',2:'Aman',3:'Anubhuti',4:'Anusha'}

In [80]:
my_d

{1: 'Abhay', 2: 'Aman', 3: 'Anubhuti', 4: 'Anusha'}

In [82]:
# empty dictionary
dictionary={}

In [90]:
d=dict() # an empty dictionary

TypeError: 'dict' object is not callable

<h4><font color='red'>Note</font></h4>

- Dictionaries are also called associative arrays or mappings or hashes.
- when you try to assign a key with mutuable type you will get error-  TypeError: unhashable type
- In dictionary one cannnot access element as per specific order.The only way to access a value is thorugh key. Thus keys act like indexes to access values from a dictionary.

<h4>Accessing Element</h4>

In [88]:
# accessing element
#syntax:<dict_name>[key]
my_d1={1:'Abhay',2:'Aman',3:'Anubhuti',4:'Anusha',5:'Abhishekh',}
my_d1[2]
print(f"roll-number 1:{my_d[1]}")

roll-number 1:Abhay

<h4>Traversing Dictionary</h4>

- The 'for loops' makes it easy to traverse or loop over the items in a dictionary.

In [29]:
d1={5:'number','a':'string',(1,2):'tuple'}
for key in d1:
    print(key,':',d1[key])

5 : number
a : string
(1, 2) : tuple

In [31]:
Phone_dict={'madhav':9997802457,'steven':8907685432,'rabiya':7930762441,'dilpreet':8194029348,'sampree':7896545532}
for name in Phone_dict:
    print(name,':',Phone_dict[name])

madhav : 9997802457
steven : 8907685432
rabiya : 7930762441
dilpreet : 8194029348
sampree : 7896545532

In [33]:
for i in Phone_dict.items():
    print(i)

('madhav', 9997802457)
('steven', 8907685432)
('rabiya', 7930762441)
('dilpreet', 8194029348)
('sampree', 7896545532)

In [35]:
# Accessing kes or values simultaneously
phone_dict={'madhav':9997802457,'steven':8907685432,
            'rabiya':7930762441,'dilpreet':8194029348,'sampree':7896545532}
phone_dict.keys()

dict_keys(['madhav', 'steven', 'rabiya', 'dilpreet', 'sampree'])

In [37]:
phone_dict.values()

dict_values([9997802457, 8907685432, 7930762441, 8194029348, 7896545532])

In [39]:
phone_dict.items()

dict_items([('madhav', 9997802457), ('steven', 8907685432), ('rabiya', 7930762441), ('dilpreet', 8194029348), ('sampree', 7896545532)])

<h4>Adding key:value pairs in empty dictionary</h4>

In [62]:
student={}

In [66]:
student['name']='bhumika'
student['class']='12th'
student['stream']='PCM'

In [68]:
student

{'name': 'bhumika', 'class': '12th', 'stream': 'PCM'}

In [74]:
stu=dict({'name':'abhay','salary':50000,'age':24})

TypeError: 'dict' object is not callable

In [94]:
employee=dict(zip(('name','salary','age'),('sukriti',20000,24)))
# the zip function clubs first value from first set with the first value of second set.

TypeError: 'dict' object is not callable

<h4>Adding Element in Dictionary</h4>

- you can add new elements to a dictionay using assignement but the key being added must not exist in dictionary and must be unique.
- if the key already exist than this will change the value of existing key,no new key will be added.

In [101]:
employee={'name':'John','age':27,'salary':25000}
employee[dept]='Management'

NameError: name 'dept' is not defined

In [105]:
employee['dept']='Management'
employee

{'name': 'John', 'age': 27, 'salary': 25000, 'dept': 'Management'}

<h4>Nesting Dictionaries</h4>

In [116]:
# make a dictionary that consist info about two workers.
employee={'john':{'age':27,'salary':25000,'dept':'Management'},
          'kate':{'age':23,'salary':30000,'dept':'Marketing'}}
for key in employee:
    print(key,'=',employee[key])

john = {'age': 27, 'salary': 25000, 'dept': 'Management'}
kate = {'age': 23, 'salary': 30000, 'dept': 'Marketing'}

<h4>Updating Existing Elements in Dictionary</h4>

- we can change value of existing key using assignment .

In [123]:
employee['john']['salary']=35000
employee

{'john': {'age': 27, 'salary': 35000, 'dept': 'Management'},
 'kate': {'age': 23, 'salary': 30000, 'dept': 'Marketing'}}

<h4>Q. write a program to create a dictionary containing names of competition winner students as keys and number of their wins as values</h4>

In [136]:

n=int(input('enter the number of students:'))
winners={}
for i in range(n):
    key=input('enter the name of winner:')
    value=int(input('number of matches won'))
    winners[key]=value
print('winners are:',winners)

enter the number of students: 5
enter the name of winner: abhay
number of matches won 3
enter the name of winner: abhishek
number of matches won 3
enter the name of winner: bhumika
number of matches won 4
enter the name of winner: deepal
number of matches won 5
enter the name of winner: vikram
number of matches won 4

winners are: {'abhay': 3, 'abhishek': 3, 'bhumika': 4, 'deepal': 5, 'vikram': 4}

<h4>Deleting elements</h4>

- to delete we can use 'del' keyword.
  - del dictionary_name[key]
- another method is by using pop() method.pop() method will also return the value deleted.It also allows us to specify a default error message if a key does not exist.
  - dictionary_name.pop(key)

In [148]:
employee={'john':{'age':27,'salary':25000,'dept':'Management'},
          'kate':{'age':23,'salary':30000,'dept':'Marketing'},
          'william':{'age':28,'salary':40000,'dept':'developer'}
         }
del employee[kate]

NameError: name 'kate' is not defined

In [152]:
employee={'john':{'age':27,'salary':25000,'dept':'Management'},
          'kate':{'age':23,'salary':30000,'dept':'Marketing'},
          'william':{'age':28,'salary':40000,'dept':'developer'}
         }
del employee['kate']
print(employee)

{'john': {'age': 27, 'salary': 25000, 'dept': 'Management'}, 'william': {'age': 28, 'salary': 40000, 'dept': 'developer'}}

In [158]:
employee={'john':{'age':27,'salary':25000,'dept':'Management'},
          'kate':{'age':23,'salary':30000,'dept':'Marketing'},
          'william':{'age':28,'salary':40000,'dept':'developer'}}
employee.pop('william')

{'age': 28, 'salary': 40000, 'dept': 'developer'}

In [163]:
employee.pop('riya','does not exist')

'does not exist'

<h5>Checking for existence of a key</h5>

- The 'in' and 'not in' operatror check for membership only in keys of the dictionary and not in values.

In [8]:
employee={'john':{'age':27,'salary':25000,'dept':'Management'},
          'kate':{'age':23,'salary':30000,'dept':'Marketing'},
          'william':{'age':28,'salary':40000,'dept':'developer'}}
print('john' in employee)
print('age' in employee)
print('william' not in employee)

True
False
False

<h3>Dictionary Functions and Methods:</h3>

<h4>len()</h4>

- returns length of the dictionary,i.e. the count of elements(key:value) in a dictionary.
- syntax:  len(dict_name)

In [13]:
employee={'john':{'age':27,'salary':25000,'dept':'Management'},
          'kate':{'age':23,'salary':30000,'dept':'Marketing'},
          'william':{'age':28,'salary':40000,'dept':'developer'}}
print(len(employee)) 
# there are 3 key-value pair

3

#### clear() :

- removes all the items from dictionary and the dictionary become empty.
- syntax: dict_name.clear()
- it takes no arguement and returns no value.

In [18]:
employee={'john':{'age':27,'salary':25000,'dept':'Management'},
          'kate':{'age':23,'salary':30000,'dept':'Marketing'},
          'william':{'age':28,'salary':40000,'dept':'developer'}}
employee.clear()

In [20]:
employee

{}

#### get():

- with this method we can get the item with the given key,similar to dict_name[key] .
- if key is not present , it by default gives an error ,but you can specify your own message through default argument

In [31]:
employee={'john':{'age':27,'salary':25000,'dept':'Management'},
          'kate':{'age':23,'salary':30000,'dept':'Marketing'},
          'william':{'age':28,'salary':40000,'dept':'developer'}}
print(employee.get('kate'))
print(employee.get('age'))

{'age': 23, 'salary': 30000, 'dept': 'Marketing'}
None

In [33]:
employee.get('age','not found')

'not found'

In [35]:
employee.get('kate').get('age') 
# here i'm trying to access the key of the nested dictionary .

23

In [41]:
employee.get('riya','not found')

'not found'

#### items()

- this returns all the items in the dictionary as a sequence of(key,value)tuples.
- these are not returned in any particular order.
- syntax: dict_name.itmes()
- it takes no arguement

In [51]:
employee={'john':{'age':27,'salary':25000,'dept':'Management'},
          'kate':{'age':23,'salary':30000,'dept':'Marketing'},
          'william':{'age':28,'salary':40000,'dept':'developer'},
         'alice':{'age':26,'salary':45000,'dept':'data science'}
         }
employee.items()

dict_items([('john', {'age': 27, 'salary': 25000, 'dept': 'Management'}), ('kate', {'age': 23, 'salary': 30000, 'dept': 'Marketing'}), ('william', {'age': 28, 'salary': 40000, 'dept': 'developer'}), ('alice', {'age': 26, 'salary': 45000, 'dept': 'data science'})])

In [53]:
employee={'john':{'age':27,'salary':25000,'dept':'Management'},
          'kate':{'age':23,'salary':30000,'dept':'Marketing'},
          'william':{'age':28,'salary':40000,'dept':'developer'},
         'alice':{'age':26,'salary':45000,'dept':'data science'}
         }
seq=employee.items()
for k,v in seq:
    print(f'{k}:{v}')

john:{'age': 27, 'salary': 25000, 'dept': 'Management'}
kate:{'age': 23, 'salary': 30000, 'dept': 'Marketing'}
william:{'age': 28, 'salary': 40000, 'dept': 'developer'}
alice:{'age': 26, 'salary': 45000, 'dept': 'data science'}

#### keys()

- this returns all of the keys in dictionary as sequence of keys(in form of list).
- syntax: dict_name.keys()
- takes no argument

In [58]:
employee={'john':{'age':27,'salary':25000,'dept':'Management'},
          'kate':{'age':23,'salary':30000,'dept':'Marketing'},
          'william':{'age':28,'salary':40000,'dept':'developer'},
         'alice':{'age':26,'salary':45000,'dept':'data science'}
         }
employee.keys()

dict_keys(['john', 'kate', 'william', 'alice'])

#### values()

- this return all the values from the dictionary as a sequence (a list).
- syntax: dict_name.keys()
- it takes no argument.

In [63]:
employee={'john':{'age':27,'salary':25000,'dept':'Management'},
          'kate':{'age':23,'salary':30000,'dept':'Marketing'},
          'william':{'age':28,'salary':40000,'dept':'developer'},
         'alice':{'age':26,'salary':45000,'dept':'data science'}
         }
employee.values()

dict_values([{'age': 27, 'salary': 25000, 'dept': 'Management'}, {'age': 23, 'salary': 30000, 'dept': 'Marketing'}, {'age': 28, 'salary': 40000, 'dept': 'developer'}, {'age': 26, 'salary': 45000, 'dept': 'data science'}])

#### update()

- this method merges key:value pairs from the new dictionary into the original dictionary,
  adding or replacing as needed.
- the items in the new dictionary are added to the old one and override any items already there
 there with the same keys.
- syntax: dict_name.update(other_dict_name)

In [70]:
emp1={'diya':{'age':21,"salary":30000,'dept':'marketing'}}
emp2={'sanchay':{'age':22,'salary':30000,'dept':'sales'}}
emp1.update(emp2)
print(emp1)

{'diya': {'age': 21, 'salary': 30000, 'dept': 'marketing'}, 'sanchay': {'age': 22, 'salary': 30000, 'dept': 'sales'}}

#### Q. write a program to print the maximum value from within all the values tuples at same index.

In [103]:
my_points={'a':(4,3),'b':(1,2),'c':(5,1)}
max_at_0=[]
max_at_1=[]
for key,value in my_points.items():
    max_at_0.append(my_points[key][0])
for key,value in my_points.items():
    max_at_1.append(my_points[key][1])
print(max_at_0)
print(max_at_1)
max_0=max_at_0[0]
for i in max_at_0:
    if max_0<i:
        max_0=i
max_1=max_at_1[0]
for i in max_at_1:
    if max_1<i:
        max_1=i
print(f'maximum element at 0th index :{max_0}')
print(f'maximum element at 1th index:{max_1}')

[4, 1, 5]
[3, 2, 1]
maximum element at 0th index :5
maximum element at 1th index:3

4