## <b>Lambda Function</b>
- It is also called annonymous function(a function without name).
- It is useful when we need a simple function that we don't want to define explicitly using 'def' keyword.
   - syntax:
      - lambda agruments:expression.
- Here argument refer to the input arguments for the function and expression is the single expressuon that gets evaluated and returened as the
  result of the function. The result automatically is returned by the lambda function,so there is no need to use the return statement.
- You cannot write two different expression inside a lambda function.
- lambda function is called by varibale with arguments passed.

## <b>Difference</b>
- Lambda function has no return value or statement.
- It automatically return entire function.
- One line function.
- Not used for code reusability.
- No name of the functuion.

### <b>Why it is used?</b>
- Lambda function is used along with higher order functions(functions that require one more function as its input to complete its work)
- higher order fucntions are function that return another function.

In [58]:
## function
def addition(a,b):
    return a+b
addition(5,4)

<class 'function'>

In [15]:
## using lannbda function
addition=lambda a,b:a+b
addition(4,5)

9

In [43]:
## return the lemgth of the string
length = lambda str:len(str)
length('riya parihar')

12

In [1]:
# first character of string should be 'b'
b= lambda x:x[0]=='b'
print(b('apple'))
print(b('banana'))

False
True

In [4]:
# we can also apply conditions
n=lambda x:'Even' if x%2==0 else 'Odd'
n(int(input()))

 40

'Even'

##### <b>Higher order function
- They can be user defined also.
- 3 inbuilt fucntions are:
   - map():
        - It expects two arguments: 1. lambda function 2. iterables.
        - in this fucntion can be performed on each element of iterables.
        - it return a map type object which is not understandable that's why we have to convert it to list.
   - filter()
   - reduce()

In [91]:
# we have a list of numbers we want sum of even numbers, odd number and numbers divisible by 3
def return_sum(func,L):   # here a single function is performing different task.
    result=0
    for i in L:
        if(func(i)):
            result+=i
    return result
my_list1=[11,12,34,22,7,4,9,8,18]
x=lambda x:x%2==0
y=lambda y:y%2!=0
z=lambda z:z%3==0
print(f"the sum of even numbers:{return_sum(x,my_list1)}")
print(f"the sum of even numbers:{return_sum(y,my_list1)}")
print(f"the sum of numbers divisible by 3:{return_sum(z,my_list1)}")

the sum of even numbers:98
the sum of even numbers:27
the sum of numbers divisible by 3:39

In [98]:
L=[2,4,3,5,6]
list(map(lambda x: x**2,L))

[4, 16, 9, 25, 36]

In [110]:
students=[
    { 
        
       'name':'riya',
       'age':21,
       'course':'btech'
},
    { 
        'name':'diya',
        'age':22,
        'course':'bba'
},
    {
        'name':'sanchay',
        'age':21,
        'course':'bba'
},
    {
        'name':'gaurang',
        'age':20,
        'course':'btech'
},
    {
        'name':'kartik',
        'age':22,
        'course':'btech'
}
]
list(map(lambda student:student['name'],students))

['riya', 'diya', 'sanchay', 'gaurang', 'kartik']

In [1]:
## convert the list of integers to the correspond square values.
num=[1,2,3,4]
square=list(map(lambda i:i**2,num)) 
print(square)

[1, 4, 9, 16]

In [3]:
numbers=[2,3,4,6,7,8]
even=list(map(lambda i:i%2==0,numbers))
print(even)

[True, False, True, True, False, True]

## <b>filter()
- The filter() function in Python is used to filter elements from an iterable (like a list, tuple, or string) based on a specified condition. 
- It applies a function to each element in the iterable and only includes the elements for which the function returns True.
- It is use to filter out elements from list if given condition is not met.
- similary like map() we have to convert it to list.

In [114]:
l=[2,4,5,6,7]
s=lambda x:x>4
s(l)

TypeError: '>' not supported between instances of 'list' and 'int'

In [119]:
l=[2,3,5,6,7]
list(filter(lambda x:x>4,l))

[5, 6, 7]

In [122]:
numbers=[2,3,4,6,7,8]
list(filter(lambda i:i%2==0,numbers)) # it will print the list of numbers which are even.

[2, 4, 6, 8]

In [136]:
# extract the elements from list which contain 'e'
items1=['apple','banana','guava','cherry']
list(filter(lambda fruit:'e' in fruit,items1))

['apple', 'cherry']

## <b>reduce()
- It is not directly present in python.
- import functools.
- The reduce() function in Python is used to apply a binary function (a function that takes two arguments) to the elements of an iterable 
 cumulatively reducing the iterable to a single value.
- reduce() works by applying the given function to the first two elements of the iterable, 
  then taking the result and applying the function to it and the next element, and so on, until the iterable is reduced to a single value.

In [143]:
import functools
e=[2,4,5,6]
reduce(lambda x,y:x+y,e)

NameError: name 'reduce' is not defined

In [145]:
import functools as f
e=[2,4,5,6]
f.reduce(lambda x,y:x+y,e)

17

In [147]:
import functools as f
items=[12,14,45,87,-9]
f.reduce(lambda x,y:x if x>y else y,items)

87

In [124]:
# sort the list of string based on there alphabetical character and length :
fruits=['apple','banana','cherry','date','orange']
sorted(fruits,key=lambda x:len(x))

['date', 'apple', 'banana', 'cherry', 'orange']

In [40]:
## sort a dictionary based on specific key
people=[
        {'name':'bhumika','age':21},
        {'name':'diya','age':22},
        {'name':'sanchay','age':20},
        {'name':'gaurang','age':19}
]
sorted(people,key=lambda x:x['age'])

[{'name': 'gaurang', 'age': 19},
 {'name': 'sanchay', 'age': 20},
 {'name': 'bhumika', 'age': 21},
 {'name': 'diya', 'age': 22}]

In [44]:
#sort according to 2 keys
people=[
        {'name':'bhumika','age':21},
        {'name':'diya','age':22},
        {'name':'sanchay','age':20},
        {'name':'gaurang','age':19}
]
sorted(people,key=lambda x:(x['age'],['name']))

[{'name': 'gaurang', 'age': 19},
 {'name': 'sanchay', 'age': 20},
 {'name': 'bhumika', 'age': 21},
 {'name': 'diya', 'age': 22}]

In [56]:
# find the maximun value in a dictionary
data={'a':10,'b':15,'c':30,'d':12}
max(data,key=lambda x:data[x])  # since c has max value

'c'

# <b>List Comprehension
- List comprehension is a concise way to create lists in Python.
- It allows us to generate a new list by applying an expression to each element of an existing iterable (like a list, tuple, string, etc.) in just one     line of code.
- Basic syntax:
     new_list = [expression for item in iterable]

In [9]:
list1=[]
for i in range(0,5):
    list1.append(i)
print(list1)

[0, 1, 2, 3, 4]

In [13]:
l1=[1,2,3,4,5] ## in general we write this code to create a new list consisting of
l2=[]          # square of elements of existing list.
for i in l1:
    l2.append(i**2)
print(l2)

[1, 4, 9, 16, 25]

In [17]:
lst=[1,2,3,4,5]  #using list comprehension a new list lst1 is generated from lst.
lst1=[i**2 for i in lst]
print(lst1)

[1, 4, 9, 16, 25]

#### Q.filtering even numbers from the list

In [36]:
# in general
l1=[1,2,3,4,5,6,7,8,9,10,11,12]
l2=[]
for i in l1:
    if i%2==0:
        l2.append(i)
print(l2)

[2, 4, 6, 8, 10, 12]

In [33]:
l1=[1,2,3,4,5,6,7,8,9,10,11,12]
even_number=[i for i in l1 if i%2==0]
print (even_number)

[2, 4, 6, 8, 10, 12]

#### <b>Q.flattening a list pf list

In [60]:
list1=[[1,2,3],[4,5,6],[7,8,9]] # in general
list2=[]
for i in list1:
    for j in i:
        list2.append(j)
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
list1=[[1,2,3],[4,5,6],[7,8,9]]
list2=[item for sublist in list1 for item in sublist]
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### <b>Q. generating a list of the first letters of words in a list

In [86]:
fruits=['apple','banana','orange']
words=[]
for fruit in fruits:
    words.append(fruit[0])
print(words)

['a', 'b', 'o']

In [88]:
fruits=['apple','banana','orange']
words=[fruit[0] for fruit in fruits ]
print(words)

['a', 'b', 'o']

#### <b>Q. generating a list of square of even numbers

In [91]:
numbers=[1,2,3,4,5,6,7,8,9,10]
square=[i**2 for i in numbers if i%2==0]
print(square)

[4, 16, 36, 64, 100]

### <b> Q.converting a list of string to a list of integers

In [103]:
numbers=['1','2','3','4','5']
str=[]
for i in numbers:
    str.append(int(i))
print(str)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [105]:
numbers=['1','2','3','4','5']
str=[int(i) for i in numbers]
print(str)

[1, 2, 3, 4, 5]

#### <b> Q.fibonnaci series

In [114]:
li1=[0,1,1,2,3,5,8,13,21,34,55]
fib=[li1[i-1]+li1[i-2]for i in range(2,len(li1))]
print(fib)

[1, 2, 3, 5, 8, 13, 21, 34, 55]

#### <b>Q.generating a list of all divisors of a number

In [125]:
lst1=56
lst2=[i for i in range(1,lst1+1) if lst1%2==0 ]
print(lst2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56]

In [131]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
prime = [i for i in numbers if i > 1 and all(i % j != 0 for j in range(2, i))]
print(prime)

[2, 3, 5, 7]