# Mutuable Data Types
- List
- Set
- Dictionary

# **List**
- Mutuable
- Iterable
- Ordered
- Duplicates
- Heterogeneous (can contain any datatype).
- list can be nested.
- list is dynamic (we can grow or shrink the size of list)
- Denoted by [ ] square bracket

# List Method
- append():-adds an element at the end of the list.
- extend():-adds the element of a given iterables (list,tuple,etc) to the end of the list.
- insert():-inserts an element at a given index in the list.
- remove():-removes the first occurrence of a given element from the list.
- pop():- removes and returns the element at a given index in the  list. If no index is specified,removes and return the last element from the list.
- clear():- removes all elements from the list.
- index():- returns the index of the first occurance of a given element in the list.
- count():- returns the number of times a element occurs in a list.
- sort():- sorts the list in ascending order.
- reverse():- reverse the order of the elements in the list.
- copy():- returns a shallow copy of the list.

In [17]:
#mutuable
a=[1,2]
print(id(a))
b=[1,2]
a+=b
print(id(a))

2208469801600
2208469801600

In [1]:
#mutuable
a=[1,2]
print(id(a))
b=[1,2]
a.extend(b)
print(id(a))

2254584660096
2254584660096

In [19]:
a=[1,2]
a=[1,2,3]
print(a)

[1, 2, 3]

In [3]:
#iterable
a=[1,2,3]
print(1 in a)
print(4 in a)

True
False

In [9]:
b=1
print(1 in b)

TypeError: argument of type 'int' is not iterable

In [37]:
# creating a list
my_list = ["apple", "banana", "cherry"]
my_list

['apple', 'banana', 'cherry']

In [37]:
# heterogeneous list
a=[1,'riya',2,2.8] 
a[0]
a[1]

'riya'

In [39]:
# negetive indexing
my_list[-1]

'cherry'

In [41]:
# slicing
my_list[0:2]

['apple', 'banana']

In [49]:
my_list[-2:-1]

['banana']

In [57]:
# order (indexing,slice,stride)
a=[1,2,3,5,6,7]
print(a[0])
print(a[1])
print(a[0:4])
print(a[0:5:2])

1
2
[1, 2, 3, 5]
[1, 3, 6]

In [61]:
#Reversing a list using negative slicing:
a=[1,2,3,5,6,7]
print(a[::-1])

[7, 6, 5, 3, 2, 1]

In [70]:
my_list=[1,2,4,'abc',True]
print(type(my_list))
print(my_list)

<class 'list'>
[1, 2, 4, 'abc', True]

### append()
- adds item to the end of the list.

In [76]:
#append an element to the list
my_list(8.9)
my_list

TypeError: 'list' object is not callable

In [78]:
#append an element to the list
my_list.append(8.9)
print(my_list)

[1, 2, 4, 'abc', True, 8.9, 8.9]

In [80]:
#append an element to the list
my_list.append(8.9,'riya')
print(my_list)

TypeError: list.append() takes exactly one argument (2 given)

In [25]:
my_list.append([24,35])
(my_list)

[1, 2, 4, 'abc', True, 8.9, [24, 35]]

In [86]:
my_list.append([1,2,3])

### extend()
- Extends the list by adding all elements from another list (or any iterable).

In [68]:
#extend(arg1,arg2)
my_list.extend((34,45))
my_list.extend("hello")
print(my_list)

['apple', 'banana', 'cherry', 34, 45, 'h', 'e', 'l', 'l', 'o']

In [84]:
my_list.extend(['hello','world'])
print(my_list)

[1, 2, 4, 'abc', True, 8.9, 8.9, 'hello', 'world', 'hello', 'world']

In [88]:
my_list

[1, 2, 4, 'abc', True, 8.9, 8.9, 'hello', 'world', 'hello', 'world', [1, 2, 3]]

### insert()
- Inserts an item at a specified index.

In [97]:
#insert()
my_list.insert(2,3)
print(my_list)

[1, 2, 3, 4, 'abc', True, 8.9, 8.9, 'hello', 'world', 'hello', 'world', [1, 2, 3]]

In [99]:
#insert()
my_list.insert(4,'r')
print(my_list)

[1, 2, 3, 4, 'r', 'abc', True, 8.9, 8.9, 'hello', 'world', 'hello', 'world', [1, 2, 3]]

In [103]:
my_list.insert(5,[24,35])

### remove()
- Removes the first occurrence of the specified element.

In [33]:
#remove()
my_list.remove(8.9)
print(my_list)

[1, 2, 3, 4, 'r', 'abc', True, [24, 35], 34, 45, 'h', 'e', 'l', 'l', 'o']

In [105]:
my_list.remove([24,35])
print(my_list)

[1, 2, 3, 4, 'r', 'abc', True, 8.9, 8.9, 'hello', 'world', 'hello', 'world', [1, 2, 3]]

### pop():
- Removes and returns the element at the specified index (default is the last element if no index is provided).

In [35]:
#pop()
my_list.pop(6)
print(my_list)

[1, 2, 3, 4, 'r', 'abc', [24, 35], 34, 45, 'h', 'e', 'l', 'l', 'o']

In [37]:
a=my_list.pop(4)
print(a)

r

In [39]:
# clear ()
# my_list.clear()
# print(my_list)

In [41]:
my_list.append(8) 
print(my_list)

[1, 2, 3, 4, 'abc', [24, 35], 34, 45, 'h', 'e', 'l', 'l', 'o', 8]

In [114]:
my_list.append(8)

In [116]:
print(my_list)

[1, 2, 3, 4, 'r', 'abc', True, 8.9, 8.9, 'hello', 'world', 'hello', 'world', [1, 2, 3], 8]

### index():
- Returns the index of the first occurrence of the specified element.

In [43]:
#index()
my_list.index('abc')

4

In [45]:
my_list.index(4)

3

In [47]:
my_list.index([24,35])

5

In [118]:
my_list.index(8.9)

7

### count():
- Returns the number of occurrences of the specified element.

In [49]:
#count()
my_list.count('l')

2

In [128]:
my_list.count('y')

0

### sort():
- Sorts the list in ascending order (by default). You can use reverse=True to sort in descending order.
- Sort does not return anything(return None) as it modify the original list.

In [131]:
#sort()
b=[2,8,99,10,50,76]
b.sort()
print(b)

[2, 8, 10, 50, 76, 99]

In [145]:
a=b.sort(reverse=True) 
print(b)
print(a)

[99, 76, 50, 10, 8, 2]
None

#### sorted():
- The sorted() function returns a new sorted list and does not modify the original list.
- Return Value: It returns a new list containing the sorted elements.
- Usage: Can be used with any iterable (lists, tuples, strings, dictionaries, etc.).
- Syntax: sorted(iterable)

In [159]:
a=sorted(b,reverse=False)
print(b)
print(a)
print(id(a))
print(id(b))

[99, 76, 50, 10, 8, 2]
[2, 8, 10, 50, 76, 99]
2249760195264
2249761151936

### reverse():
- The reverse() method is used to reverse the elements of a list in place, meaning it modifies the original list.
- This method doesn’tIt returns None (the original list is reversed in place).
- It returns None (the original list is reversed in place).
- It reverses the list in place, i.e., the elements are swapped from the first to the last.

In [162]:
#reverse()
print(b)
a=b.reverse()
print(b)
print(a)

[99, 76, 50, 10, 8, 2]
[2, 8, 10, 50, 76, 99]
None

### copy()
- The copy() method creates a shallow copy of the list.
- Shallow Copy: Copies the elements, but for nested objects (like lists within lists), it only copies references to the inner objects.
  Changes to nested objects will affect both the original and the copied list.

In [167]:
#copy the list
my_copy_list=my_list.copy()
print(my_copy_list)

[1, 2, 3, 4, 'r', 'abc', True, 8.9, 8.9, 'hello', 'world', 'hello', 'world', [1, 2, 3], 8, 'p']

In [173]:
my_list.append('p')
print(my_copy_list)
print(my_list)

[1, 2, 3, 4, 'r', 'abc', True, 8.9, 8.9, 'hello', 'world', 'hello', 'world', [1, 2, 3], 8, 'p']
[1, 2, 3, 4, 'r', 'abc', True, 8.9, 8.9, 'hello', 'world', 'hello', 'world', [1, 2, 3], 8, 'p', 'p', 'p', 'p']

In [181]:
# my_list.pop() # shallow copy
print(my_list)
print(my_copy_list) # here changes made in copy list affect the original list too.

[1, 2, 3, 4, 'r', 'abc', True, 8.9, 8.9, 'hello', 'world', 'hello', 'world', [1, 2, 3], 8, 'p']
[1, 2, 3, 4, 'r', 'abc', True, 8.9, 8.9, 'hello', 'world', 'hello', 'world', [1, 2, 3], 8, 'p']

#### Deep Copy: 
- Recursively copies all objects, including nested ones, ensuring the copied list is entirely independent of the original.

In [187]:
import copy
original_list = [[1, 2], [3, 4],{1:'riys'}]
deep_copy = copy.deepcopy(original_list)

deep_copy[0][0] = 100
print(original_list)  # Output: [[1, 2], [3, 4]] (original list remains unaffected)
print(deep_copy)

[[1, 2], [3, 4], {1: 'riys'}]
[[100, 2], [3, 4], {1: 'riys'}]

In [64]:
my_list.extend({1,3,4})
print(my_list)
print(my_copy_list)

[1, 2, 3, 4, 'abc', [24, 35], 34, 45, 'h', 'e', 'l', 'l', 'o', 8, 'p', 1, 3, 4, 1, 3, 4, 1, 3, 4]
[1, 2, 3, 4, 'abc', [24, 35], 34, 45, 'h', 'e', 'l', 'l', 'o', 8]

In [74]:
a=my_list.pop(0)
print(a)
print(my_list)
print(my_copy_list)

4
['abc', [24, 35], 34, 45, 'h', 'e', 'l', 'l', 'o', 8, 'p', 1, 3, 4, 1, 3, 4, 1, 3, 4]
[1, 2, 3, 4, 'abc', [24, 35], 34, 45, 'h', 'e', 'l', 'l', 'o', 8]

In [1]:
list=[1,3,4,5]
x=list.append(7)
print(x)

None

In [13]:
list1=[2,'hello',4.5,(1,2,3),{1,2,4},True,{1:'riya',2:'diya'}]
grocery_list=['pulses','biscuits','fruits','detergent','spices']
print(grocery_list.index('biscuits'))

1

In [77]:
x=grocery_list[4]
list2=[]
list2.append(x)
print(list2)

['spices']

In [83]:
list2+grocery_list

['spices', 'pulses', 'biscuits', 'fruits', 'detergent', 'spices']

In [85]:
l=[5]
l+list2

[5, 'spices']

## <b>Summary
| **Method**        | **Description**                                                                                                                                                  | **Example**                                                                                                        |
|-------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------------|
| **append()**      | Adds an element to the end of the list.                                                                                                                           | `my_list.append(5)` adds `5` to the end of `my_list`.                                                              |
| **extend()**      | Extends the list by adding all elements from another list or iterable.                                                                                            | `my_list.extend([6, 7])` adds `6` and `7` to `my_list`.                                                            |
| **insert()**      | Inserts an element at a specified index.                                                                                                                          | `my_list.insert(2, 'a')` inserts `'a'` at index `2`.                                                               |
| **remove()**      | Removes the first occurrence of a specified value.                                                                                                                | `my_list.remove(3)` removes the first occurrence of `3` from `my_list`.                                            |
| **pop()**         | Removes and returns the element at a specified index (default is the last item).                                                                                   | `my_list.pop()` removes and returns the last element. `my_list.pop(0)` removes and returns the element at index `0`.|
| **clear()**       | Removes all elements from the list.                                                                                                                               | `my_list.clear()` empties `my_list`.                                                                               |
| **index()**       | Returns the index of the first occurrence of a specified value.                                                                                                   | `my_list.index(2)` returns the index of the first occurrence of `2`.                                               |
| **count()**       | Returns the number of occurrences of a specified value.                                                                                                           | `my_list.count(2)` returns the number of occurrences of `2`.                                                       |
| **sort()**        | Sorts the list **in place** in ascending order (can also be sorted in descending order with `reverse=True`).                                                       | `my_list.sort()` sorts `my_list` in ascending order.                                                               |
| **reverse()**     | Reverses the elements of the list **in place**.                                                                                                                   | `my_list.reverse()` reverses `my_list`.                                                                            |
| **copy()**        | Returns a shallow copy of the list.                                                                                                                               | `new_list = my_list.copy()` creates a shallow copy of `my_list`.                                                   |
| **sorted()**      | Returns a new sorted list (does not modify the original list).                                                                                                     | `sorted(my_list)` returns a new sorted list.                                                                       |
| **list()**        | Creates a list from an iterable.                                                                                                                                  | `list((1, 2, 3))` converts a tuple to a list.                                                                      |

### **Additional Methods**

| **Method**        | **Description**                                                                                                                                                  | **Example**                                                                                                        |
|-------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------------|
| **reverse()**     | Reverses the order of elements in the list.                                                                                                                       | `my_list.reverse()` reverses the order of the list.                                                                |
| **list comprehension** | A concise way to create lists from iterables.                                                                                                               | `[x for x in range(5)]` creates `[0, 1, 2, 3, 4]`.                                                                 |

In [115]:
list_int=[5,10,15,20,25,55]
d1=list_int[0]//5
d2=list_int[1]//5
d3=list_int[2]//5
d4=list_int[3]//5
d5=list_int[4]//5
d6=list_int[5]//5
list_quo=[d1,d2,d3,d4,d5,d6]
print(list_quo)

[1, 2, 3, 4, 5, 11]

In [119]:
l1=[True and True]
l2=[True and False]
print(l1 and l2)

[False]

In [127]:
list1=[1,(2,5,4)]
x=list1[1]
print(x)
print(x[0])

(2, 5, 4)
2

In [137]:
list1=[1,(2,5,4)]
list1[1][1]

5

In [170]:
list1=[1,3,(2,3,(4,5)),556]
list1[2][2][1]

5

In [203]:
list2=[3,4,{1:'riya',2:'hello'},(2,(5,1)),'diya']
print(list2[2][1])
print(list2[2][2])
print(list2[3][1])
print(list2[3][1][0])
print(list2[3][1][1])

riya
hello
(5, 1)
5
1

In [207]:
x=list2[3][1][0]
list3=[]
list3.append(x)
print(list3)

[5]

In [23]:
student=['riya','diya','siya']
scores=[90,90,98]
school=['whitehall','nirmala','birla']
for i in range(0,3):
    print(student[i],'scored',scores[i],'%','from',school[i])

riya scored 90 % from whitehall
diya scored 90 % from nirmala
siya scored 98 % from birla

In [35]:
students=[]
scores=[]
schools=[]
for i in range(5):
    name=input('enter the name')
    students.append(name)
    marks=int(input('enter scores in 10th boards'))
    scores.append(marks)
    school=input('enter the name of school')
    schools.append(school)
for i in range(5):
    print(students[i],'scored',scores[i],'%','in 10th boards from',schools[i])

enter the name bhumika
enter scores in 10th boards 89
enter the name of school whitehall
enter the name diya
enter scores in 10th boards 99
enter the name of school whitehall
enter the name siya
enter scores in 10th boards 90
enter the name of school birla
enter the name sanchay
enter scores in 10th boards 98
enter the name of school nirmala
enter the name kartik
enter scores in 10th boards 90
enter the name of school doon public'

bhumika scored 89 % in 10th boards from whitehall
diya scored 99 % in 10th boards from whitehall
siya scored 90 % in 10th boards from birla
sanchay scored 98 % in 10th boards from nirmala
kartik scored 90 % in 10th boards from doon public'

In [ ]:
students=[]
scores=[]
schools=[]
for i in range(5):
    name=input('enter the name')
    students.append(name)
    marks=int(input('enter scores in 10th boards'))
    scores.append(marks)
    school=input('enter the name of school')
    schools.append(school)
for i in range(5):
    if(scores[i]>80):
        print(students[i],'scored',scores[i],'%','in 10th boards from',schools[i])
    else:
        print(students[i],'not scored above 80 %')

enter the name bhumika
enter scores in 10th boards 77
enter the name of school whitehall
enter the name diya
enter scores in 10th boards 67
enter the name of school birla

In [5]:
t=(8,9,7,8)
print(t)
set(t)

(8, 9, 7, 8)

{7, 8, 9}

In [83]:
tupl=[(9,5,4,(3,4,5(56,8,99)),45)]
print(tupl[3][1])

<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
C:\Users\acer\AppData\Local\Temp\ipykernel_9556\621431057.py:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  tupl=[(9,5,4,(3,4,5(56,8,99)),45)]

TypeError: 'int' object is not callable

In [5]:
## Given a list of integers, create a new list that contains only the even numbers from the original list using list comprehension.
my_list=[2,3,4,5,6,7,8,9,10,55,24,89,90]
list_even=[]
for i in my_list:
    if(i%2==0):
        list_even.append(i)

print(list_even)

[2, 4, 6, 8, 10, 24, 90]

In [22]:
## Given two lists, write a function to return a list that contains the elements that are present in both lists (intersection).
my_list1=[2,3,'hello',34.7,4,'parihar',777,89,7.888888]
my_list2=[4,5,'riya','hello',89.9,3,7.888888]
inter_list=[]
def intersection(list1,list2):
    for i in list1:
        for j in list2:
            if(i==j):
                inter_list.append(i)
    print('common elements in both list are:')
    return inter_list
intersection(my_list1,my_list2)

common elements in both list are:

[3, 'hello', 4, 7.888888]

In [53]:
## Write a function that rotates a list to the right by k elements. For example, given [1, 2, 3, 4, 5] and k=2, the result should be [4, 5, 1, 2, 3].
list1=[]
k=int(input('from how many elements you want to rotate the elements'))
for i in range(5):
    n=int(input('enter the elements'))
    list1.append(n)
def rotate(list1,k):
    rotated_list=[]
    for i in range(k):
        rotated_list.append(list1[i])
        # list1.remove(list1[i])
    for i in rotated_list:
        list1.append(rotated_list[i])
    print(list1)
rotate(list1,k)

from how many elements you want to rotate the elements 2
enter the elements 2
enter the elements 3
enter the elements 4
enter the elements 1
enter the elements 5

IndexError: list index out of range

In [103]:
list1=[]
k=int(input('from how many elements you want to rotate the elements'))
for i in range(5):
    n=int(input('enter the elements'))
    list1.append(n)
def rotate(list1,k):
   return list1[k::]+list1[k-1::-1]
        

print('list after roatation is',rotate(list1,k))

from how many elements you want to rotate the elements 5
enter the elements 1
enter the elements 2
enter the elements 3
enter the elements 4
enter the elements 5

list after roatation is [5, 4, 3, 2, 1]

In [1]:
##  Given a list of tuples, where each tuple contains a string and a number, sort the list based on the number in ascending order. 
##  For example, [(‘apple’, 2), (‘banana’, 1), (‘cherry’, 3)] should become [(‘banana’, 1), (‘apple’, 2), (‘cherry’, 3)].

In [23]:
fruits=[('apple',2),('banana',1),('cherry',3)]
for i in fruits:
    n=fruits[i][1]
    for j in fruits:
        if(fruits[j][0]>n):
            temp=n
            n=fruits[j][0]
            fruits[j][0]=temp

TypeError: list indices must be integers or slices, not tuple

In [28]:
list1=[1,2,3,4]
list1[0]=2
list1[1]=1
print(list1)

[2, 1, 3, 4]

In [15]:
fruits=[('apple',1),('banana',2),('cherry',3)]
for i in range(0,len(fruits)):
    if fruits[i][1]>fruits[i+1][1]:
        fruits[i],fruits[i+1]=fruits[i+1],fruits[i]
print(fruits)

IndexError: list index out of range

In [27]:
fruits=[('apple',1),('banana',2)]
print(fruits[0][1])

1

In [73]:
fruits=[('apple',1),('banana',2),('cherry',3)]
for i in range(0,len(fruits)):
    # small=fruits[i]
    for j in range(0,len(fruits)):
        if fruits[i][1]>fruits[j][1]:
            small=fruits[j][1]
    fruits[i]=small

TypeError: 'int' object is not subscriptable

In [75]:
fruits=[('apple',1),('banana',2),('cherry',3)]
for i in range(0,len(fruits)):
    # small=fruits[i]
    for j in range(0,len(fruits)):
        if fruits[i][1]<fruits[j][1]:
           fruits[i],fruits[j]=fruits[j],fruits[i]
print(fruits)

[('apple', 1), ('banana', 2), ('cherry', 3)]

In [ ]:
#Write a function to flatten a nested list. For example, given [[1, 2, [3]], [4, 5], [6]], the function should return [1, 2, 3, 4, 5, 6].
my_list=[[1,2,[3]],[4,5],[6]]
for i in my_list:

In [142]:
my_list=[[1,2,[3]],[4,5],[6]]
n=my_list[0]
print(len(n))
temp=[]
temp.append(n[0])
temp.append(n[1])
temp.append(n[2][0])
if type(n[2])==list:
    print('hy')
print(temp)

print(n[1])
# temp=[]
# temp.extend(my_list[0])
# print(temp)

3
hy
[1, 2, 3]
2

In [1]:
my_list=[[1,2,[3]],[4,5],[6]]
temp=[]
for i in range(len(my_list)):
    n=my_list[i]
    l=len(n)
    for j in range(l):
        if type(n[j])==list:
            for k in range(len(n[j])):
                temp.append(n[j][k])
        else:temp.append(n[j])
print(temp)

[1, 2, 3, 4, 5, 6]

In [3]:
my_list=[[1,2,[3]],[4,5],[6]]
temp=[]
for i in range(len(my_list)):
    n=my_list[i]
    print(type(n))
    l=len(n)
    for j in range(l):
        if type(my_list[i][j])==list: 
            for k in range(0,len([j])):
                temp.append(my_list[i][j][k])
        else: temp.append(n[j])
print(temp)

<class 'list'>
<class 'list'>
<class 'list'>
[1, 2, 3, 4, 5, 6]

In [43]:
# Write a function that takes a list of strings and returns a list of the strings that contain at least one vowel.
n=int(input('enter the no. of strings you want to enter'))
string_list=[]
def isvowel(string):
    str=[]
    for i in range(len(string)):
        s=string[i]
        for j in range(len(s)):
            if s[j]=='a'or s[j]=='e' or s[j]=='i' or s[j]=='o' or s[j]=='u':
                str.append(s)
                break;
            
            
    return str;
for i in range(n):
    str=input('enter the string')
    string_list.append(str)
print(isvowel(string_list))

enter the no. of strings you want to enter 3
enter the string riya
enter the string siya
enter the string dddd

['riya', 'siya']

In [62]:
# Given a list of integers, write a function to return a list containing the cumulative sum of the elements. For example, [1, 2, 3, 4] should become [1, 3, 6, 10].
my_num=[1,2,3,4]
cum=[]
for i in range(len(my_num)):
    num=int(my_num[i])
    if i!=(len(my_num)-1):
        num1=int(my_num[i+1])
    if i==0:
        s=int(num)
        cum.append(s)
    if i==(len(my_num)-1):
       break;
    else:
        s+=my_num[i+1]
        cum.append(s)
print('cumulative sum is:',cum)

cumulative sum is: [1, 3, 6, 10]

In [ ]:
#Write a function that takes a list of numbers and returns a new list with each number squared, but only if the original number was positive.