# Sets: 
- A set is an unordered collection of unique items. Each element in a set must be immutable (i.e., cannot be changed), but the set itself is mutable- ,    meaning you can add or remove elements.
- <b>Key Features:
   - 1.Unordered:- the items in the set are unordered, i.e., it will not maintain the order in which the items are inserted.
   - 2.Unindexed:- set items are unindexed.
   - 3.Unique:- there cannot be two items with same values i.e, no duplictes.
   - 4.Set items must be immutuable(string,int,float,boolean,complex).
   - 5.Set is mutuable.

### creating a set:
- Sets can be created using curly braces {} or the set() constructor.

In [5]:
# sets
a={1,2,3,'riya'}
print(a)
empty_set ={}  # or empty_set=set()
print(empty_set)

{'riya', 1, 2, 3}
{}

## <b> Set Methods

### add() 
- This method adds a single element to the set.

In [9]:
# add(): similar to append() in list
a.add('hello')
a.add(20)
print(a)

{'riya', 1, 2, 3, 'hello', 20}

### update()
- Adds elements from another set or iterable (like a list or tuple) to the original set.

In [14]:
# update(): similar to extend(iterables or string) in list
b=['diya','siya']
a.update(b)
print(a)

{'riya', 1, 2, 3, 'hello', 'siya', 20, 'diya'}

### <b>remove() 
- method removes a specified element from the set. If the element does not exist, it raises a KeyError.
- discard():
   -  this method also removes an element, but it does not raise an error if the element is not found.

In [17]:
# remove():it is used to remove an item from the set.
s={1,2,3,4,5}
s.remove(4)
print(s)

{1, 2, 3, 5}

In [19]:
s.remove(10)

KeyError: 10

In [25]:
s.discard(11) # it give no key error.

### <b> Union (| or union())
Combines elements from both sets, eliminating duplicates.

In [106]:
# union
print(a.union(s)) # this union function is temperory 
print(a)

{1, 2, 3, 5, 'hello', 'riya', 20}
{1, 2, 3, 'hello', 'riya', 20}

In [108]:
# if want to make merge elements of two sets permanently then we can use update function.
a.update(s)
print(a)

{1, 2, 3, 5, 'hello', 'riya', 20}

In [36]:
set1={'riya','diya','siya'}
set2={'kartik','gaurang','sanchay'}
set1|set2  ## this is union sign (temporary)
print(set1)

{'riya', 'diya', 'siya'}

In [42]:
set1.update(set2)
print(set1)
print(set2)
# here set1 is updates and now it contains all elements of set2.

{'riya', 'gaurang', 'kartik', 'siya', 'diya', 'sanchay'}
{'gaurang', 'kartik', 'sanchay'}

### <b> Intersection (& or intersection())
- Returns elements that are common to both sets.

In [47]:
# intersection
a={1,2,3,4,5,6,7,8,9,10}
b={2,4,6,8,10,12,14,16,18,20}
print(a.intersection(b)) # this change is temperarory.
print(a)

{2, 4, 6, 8, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [53]:
a&b # it is temporary
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [116]:
# if we want to make it permanent
a.intersection_update(b)
print(a)

{2, 4, 6, 8, 10}

### <b> Difference (- or difference())
Returns elements that are in the first set but not in the second.

In [22]:
# difference : The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.
x={'riya','hii',True,1}
y={1,2,3,'hello','str'}
print(x.difference(y))
print(x)  ## this change is temporary

{'hii', 'riya'}
{'hii', True, 'riya'}

In [28]:
x={'riya','hii',True}
y={1,2,3,'hello','str'}
ab=x-y
print(str)
print(x)

{'hii', 'riya'}
{'hii', True, 'riya'}

### <b>Symmetric Difference (^ or symmetric_difference())
Returns elements that are in either of the sets but not in both.

In [136]:
# symmetric difference: The symmetric_difference() method will keep only the elements that are NOT present in both sets.
x={'riya','hii',True,1}
y={1,2,3,'hello',str}
x.symmetric_difference(y)

{2, 3, str, 'hello', 'hii', 'riya'}

In [34]:
x={'riya','hii',True,}
y={1,2,3,'hello','str'}
x-y

{'hii', 'riya'}

#### <b> symmetric_difference_update()
Updates the set with the symmetric difference of itself and another set.

In [128]:
x.symmetric_difference_update(y)
print(x)

{2, 3, 'hello', 'hii', 'riya', <class 'str'>}

### <b> union() 
- method in Python combines two or more sets and returns a new set that contains all unique elements from the sets involved. 
  It eliminates duplicates, so even if an element appears in multiple sets, it will only appear once in the resulting set.

In [37]:
a={1,2,3,6,7,8}
b={1,2,3,7}
print(a.union(b))
print(id(a))
print(id(b))
print(id(a.union(b)))

{1, 2, 3, 6, 7, 8}
2406823513440
2406823511648
2406823515008

In [161]:
# finding length of the set
a={1,2,3}
len(a)

3

In [165]:
#minimum and maximum values
a={1,2,3,4,5,6}
print(min(a))
print(max(a))

1
6

In [3]:
set={'a','b','c','d','e'}
print(min(set))
print(max(set))

a
e

In [5]:
set[0]='apple'

TypeError: 'set' object does not support item assignment

In [9]:
a={1,2,5,4,3,7,8}
a.remove(4)
print(a)

{1, 2, 3, 5, 7, 8}

In [13]:
a={1,2,5,4,3,7,8}
a.remove(88)

KeyError: 88

In [17]:
# discard(): If the item to remove does not exist, discard() will NOT raise an error.
a={1,2,5,4,3,7,8}
a.discard(44)
print(a)

{1, 2, 3, 4, 5, 7, 8}

In [21]:
#pop():the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed. 
a={1,2,5,4,3,7,8}
a.pop()
print(a)
a.pop()
print(a)

{2, 3, 4, 5, 7, 8}
{3, 4, 5, 7, 8}

In [25]:
a={'riya','diya','shanaya'}
print(a.pop())
print(a)

diya
{'riya', 'shanaya'}

In [31]:
#clear(): 
a={1,2,3,4}
a.clear()
print(a)

set()

In [29]:
a={1,2,3,4,5,6,7}
del a
print(a)

NameError: name 'a' is not defined

In [37]:
del a
print(a)

NameError: name 'a' is not defined

# Subset And Superset
- Superset must have all values of subset.

In [147]:
p={1,2,3,4,5}
q={2,4,5}
print(p.issuperset(q))

True

In [149]:
print(q.issubset(p))

True

{}

AttributeError: 'dict' object has no attribute 'add'

# Disjoint
- if in any two sets any one or more element is common then it is not a disjoint.
- Checks if two sets have no elements in common.

In [155]:
p={2,3,5}
q={1,4,6}
print(p.disjoint(q))

AttributeError: 'set' object has no attribute 'disjoint'

In [157]:
p={2,3,5}
q={1,4,6}
print(p.isdisjoint(q))

True

In [159]:
p={1,2,3,4,5,6,7,8,9,10}
q={2,4,6}
print(p.isdisjoint(q))

False

# <span style='color: green'>Dictionaries </span>
- Dictionaries are oredered collection of unique items stored in (key-value) pairs.key and value pair are treated as single item.
1. Ordered: Dict are ordered which means that items have a defined order, and that order will not change.
2. Unique: The keys in dictionaries should be unique.If we store any value with a key that already exists,then the most recent value will be replaced.
3. Key must be of immutable data types
4. Dictionaries is mutuable

In [5]:
dict={1:'riya',2:'diya',3:'diksha'}
dict

{1: 'riya', 2: 'diya', 3: 'diksha'}

In [7]:
type(dict)

dict

In [9]:
dict[2]

'diya'

In [11]:
dict1={'namaste':'india','bonjour':'france'}
dict[0] # key is used to access value.

KeyError: 0

In [58]:
len(dict1)

2

In [60]:
dict1['namaste'] # accesing value through key.

'india'

In [66]:
a=dict1.get('bonjour')
print(a)

france

In [68]:
dict.keys()

dict_keys([1, 2, 3])

In [70]:
dict.values()

dict_values(['riya', 'diya', 'diksha'])

In [18]:
dict.items()

dict_items([(1, 'riya'), (2, 'diya'), (3, 'diksha')])

In [26]:
dict[4]='kriti'
print(dict)

{1: 'riya', 2: 'diya', 3: 'diksha', 4: 'kriti', 5: 'priya', 6: 'kavya'}

In [28]:
#update()
dict.update(5:'priya')

SyntaxError: invalid syntax (3227863660.py, line 2)

In [30]:
dict.update({5:'priya'})
print(dict)
dict.update({6:'kavya'})
print(dict)

{1: 'riya', 2: 'diya', 3: 'diksha', 4: 'kriti', 5: 'priya', 6: 'kavya'}
{1: 'riya', 2: 'diya', 3: 'diksha', 4: 'kriti', 5: 'priya', 6: 'kavya'}

In [32]:
# pop():The pop() method removes the item with the specified key name:
dict.pop(5)

'priya'

In [34]:
print(dict)

{1: 'riya', 2: 'diya', 3: 'diksha', 4: 'kriti', 6: 'kavya'}

In [107]:
#popitem():The popitem() method removes the last inserted item
dict.popitem()

(6, 'kavya')

In [38]:
dict.popitem()

(6, 'kavya')

In [109]:
del dict[3]

In [111]:
print(dict)

{1: 'riya', 2: 'diya', 4: 'kriti'}

In [125]:
# nested dictionaries
stu1={'name':'riya',
      'roll': 1}
stu2={'name':'diya',
      'roll':2}
set1={1:stu1,2:stu2}
print(set1)

{1: {'name': 'riya', 'roll': 1}, 2: {'name': 'diya', 'roll': 2}}

In [127]:
# fromkeys() : method returns a dictionary with the specified keys and the specified value.
dict.fromkeys(1)

TypeError: 'int' object is not iterable

In [137]:
#fromkeys():returns the dictionary with key mapped and specific value. It creates a new dictionary from the given sequence with the specific value.
x=dict.fromkeys(stu1)
print(x)

{'name': None, 'roll': None}

In [135]:
x=dict.fromkeys(stu1,'hello')
print(x)

{'name': 'hello', 'roll': 'hello'}

In [143]:
a=range(0,10)
a

range(0, 10)

In [149]:
a=list(range(2,9))
a

[2, 3, 4, 5, 6, 7, 8]

In [157]:
b=tuple(range(1,15,2))
b

(1, 3, 5, 7, 9, 11, 13)

In [161]:
b=tuple(range(1,15,-1))
b

()

In [37]:
n=input('enter no of digits')
num=int(input('enter your number'))
for i  in range(int(n)):
        d=num%10
        sum=sum+n*d
        num=num/10
if(sum==num):
    print('its a armstrong number')
else: print('its not a armstrong number')

enter no of digits 3
enter your number 153

TypeError: unsupported operand type(s) for +: 'builtin_function_or_method' and 'str'

In [21]:
list=[]
num=908
list.append(num)
print(list)

[908]

In [26]:
# take string as input an count the freq of each character of that string and save the char with its freq in dictionary
str=input('enter the string')
n=len(str)
cnt=0
str_dict={}
for i in range(n):
    if str[i] not in str_dict:
         for j in range(n):
            if(str[i]==str[j]):
                 cnt=cnt+1
                 str_dict[str[i]]=cnt
print(str_dict)

enter the string riya

{'r': 1, 'i': 2, 'y': 3, 'a': 4}

In [30]:
# take string as input an count the freq of each character of that string and save the char with its freq in dictionary
str=input('enter the string')
n=len(str)
str_dict={}
for i in range(n):
    n=str.count(str[i])
    str_dict[str[i]]=n
print(str_dict)

enter the string hello this is riya

{'h': 2, 'e': 1, 'l': 2, 'o': 1, ' ': 3, 't': 1, 'i': 3, 's': 2, 'r': 1, 'y': 1, 'a': 1}