# <b>TUPLE<b>
- Tuples are used to store multiple items in a single variable of different types.
- Tuples are immutable i.e. you cannot change the elements of a tuple in place, python will
  create a fresh tuple when you make changes to an element of a tuple.
- Tuple is a type of sequence like strings and list but it differes from them in the way 
   that lists are mutable but strings and tuple are immutable.
- Tuple items are ordered, unchangeable, and allow duplicate values.
- Tuple items are indexed, the first item has index [0], the second item has index [] et
- Ordered: When we say that tuples are ordered, it means that the items have a defined     order, and that order will not change.
- Indexed: Since tuples are indexed, they can have items with the same value.
- To determine how many items a tuple has, use the len() function

In [ ]:
# empty tuple
t=tuple()

In [ ]:
# tuple with one element.
tup=('apple')
len(tup) # giving wrong answers.

In [ ]:
tup=('apple',)
len(tup)

In [ ]:
# long tuples: if a tuple contains many element , then split it across several lines
tup=(1,2,3,4,5,6,7,8,9,11,2,34,667,8,,99,00,55

In [ ]:
# nested tuple
t1=(1,2,3,(2,3))

### <b> Creating Tuple from existing sequences:
- you can also use the built-in type object (tuple()) to create tuples from sequences.
- syntax: T=tuple(<sequence>) <sequence> can be any kind of sequence object including strings,list and tuples.

In [ ]:
t1=tuple('hello')
t1
# it generated individual elements from the individual.

In [ ]:
l=['write']
t2=tuple(l)
t2

In [ ]:
l=['w','r','i','t','e']
t3=tuple(l)
t3

In [ ]:
#we can use this method of creating tuples of single characters or single digits through keyboard input.
t1=tuple(input('enter the elements'))
print(t1)
t2=eval(input('enter the tuple'))
print(t2) # while using eval make sure to enclose tuple elements in parenthesis.

## Access Tuple Items
- Other then editing items,you can do all that you can do with lists.
- You can access tuple items by referring to the index number, inside square brackets.
- Negative indexing means start from the end.
-
-1 refers to the last item, -2 refers to the second last item et
- similarities in list and tuple:
    - length function
    - indexing and slicing
    - membership operator
    - concatenation operators(+)c.

In [ ]:
tup=(3,4,56,78)
print(tup[1])
print(tup[-3])
# while accessing tuple elements if you pass in a negative index ,python adds the length
#of the index to get element's forward index

In [ ]:
# difference between list and tuple
l=[1,2,3]
l[2]=4
print(l)
tup=(1,2,3)
tup[2]=4
# you cannot perform item-reassignment in immutable datatypes.

In [ ]:
tup=(3,4,5,6)
print(list(tup))
print(tup)

In [ ]:
# traversing a list
tup=(2,3,44,5,6,8)
for i in tup:
    print(i)

TypeError: tuple indices must be integers or slices, not str

In [ ]:
tup=(1,2,'hello',[1,3])
for i in range(len(tup)):
    print(tup[i])

In [ ]:
tup=(2,4,5,6,7)
l1=list(tup)
print(l1)

In [ ]:
list1=[2,3,4]
tuple(list1)

In [ ]:
print(list1)

In [ ]:
tup[-1]

In [ ]:
l1=['apple','banana','grape']
print('apple' in l1)

In [ ]:
tup=('riya','banana','grape')
print('riya' in tup)

# Update Tuple:
- Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.
- 
But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

# Add Items
- Since tuples are immutable, they do not have a built-in append() method, but there are other ways to add items to a tuple.

- 1. Convert into a list: Just like the workaround for changing a tuple 
   you can convert it into a list, add your item(s), and convert it back into a tuple.

In [ ]:
tup=('apple','banana','orange')
tup.add('grape')

In [ ]:
tup=('apple','banana','orange')
tup[1]='grape'

In [ ]:
tup+='grape'

In [ ]:
fruits=('apple','mango','grape')
y=list(fruits)
y.append('banana')
fruits=tuple(y)

print(fruits)

#### Add tuple to a tuple. 
- You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing     tuple

In [ ]:
fruits=('apple','banana','orange')
fruit=('strawberry',)
fruits+=fruit
print(fruits)

# Item of a tuple cannot be deleted directly :
- first convert it into list then remove its item.
- you can del the entire tuple using del

In [ ]:
tup1=(2,3,4,5)
del(tup1)
print(tup1)

## <b> Joining Tuples
- To perform joining two tuples just simply add both the tuples. use '+' operator

In [12]:
tp1=(1,2,4)
tp2=(4,5,6)
tp1+tp2
# '+' operstor concatenate two tuples and created a new tuple.we can also join two or more tuples.

(1, 2, 4, 4, 5, 6)

In [14]:
#'+' operator when used with tuples requires that both the operands must be of tuple types.
tp1+2

TypeError: can only concatenate tuple (not "int") to tuple

In [26]:
# Note : a single values in () is treated as single values
tp1=('a',)
# tp2=(1,)
tp1+(1,)

('a', 1)

In [28]:
tp1=(1,2,3,4,5,6,7,8,9,10,11,12,13)
tp1+(20,)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 20)

### <b> Slicing the tuples
- tuple slices, like list or string .
- syntax: seq=tuple[start:stop]

In [48]:
## for normal indexig, if the  resulting index is outside of tuple, python rises an indexerror exception
tuple=(1,2,4,5,6,7,8,9)
tuple[10]

IndexError: tuple index out of range

In [46]:
tpl=(1,2,4,5,6,7,8,9)
seq=tpl[1:30]
seq
# but in slicing the result will simply contain all items berween the boundaries.
#for the start and stop given beyond tuple limits in a tuple slice,python simply returns 
#the elements that fall between specific boundaries.

(2, 4, 5, 6, 7, 8, 9)

In [54]:
# tuple also support steps too
tpl=(1,2,4,5,6,7,8,9)
seq=tpl[0:4:2]
seq

(1, 4)

## <b> Comparing Tuples
- you can compare tuples without having to write code with loops for it.
- for compairing we can use  comparision operator i.e, <,>,==,!=.
- python compare individual elements of two tuples.
- for two tuples to be equal they must have same number of elements and matching values
  are considered equal.

In [59]:
a=(1,2,3,4)
b=(1,2,3,4)
print(a==b)
c=(1,2,3,4,5)
print(a==b==c)

True
False

# Unpacking a Tuple
- When we create a tuple, we normally assign values to it. This is called "packing" a tuple
- But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking".
- The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

In [66]:
# unpacking a tuple:
fruits=("riya" ,"diya" ,"siya")
fruits=name1,name2,name3
print(name1)
print(name2)
print(name3)

apple
banana
cherry

In [68]:
fruits = ("apple", "banana", "cherry")

name1,name2,name3 = fruits
print(name1)
print(name2)
print(name3)

apple
banana
cherry

In [ ]:
fruits = ("apple", "banana", "cherry")

fruits=(name1,name2,name3)

print(name1)
print(name2)
print(name3)

In [ ]:
tup1=('s','i')
tup1=(e,f)
print(f)
# (e,f)=tup1
# print(e)

In [ ]:
tup1=(e,f)
print(e)

## Deleting Tuples:
- The del statement is used to delete elements and objects.
- But since tuples are immutable,which also means that individual elements of a tuple
  connot be deleted.

In [71]:
tup1=(3,4,5)
del tup1

In [75]:
tup2=(12,3)
del tup2[0]
# only complete tuple can be deleted

TypeError: 'tuple' object doesn't support item deletion

# Tuple Methods
- tuple has only two mehtods : count() , index() and rest are functions.
- len():count the length of tup.
- max():return max element in tuple.It will only return value if all elements are of
        same type.
- min():find the minimun value.
- tuple(): this is constructor method that can be used to create tuples from different
           types of values.
- count():Returns the number of times a specified value occurs in a tuple.
- index():Searches the tuple for a specified value and returns the position of where it was found

In [89]:
# len()
tup1=(2,3,4,5,3,5)
print(len(tup1))

6

In [91]:
# max
max(tup1)

5

In [93]:
#min
min(tup1)

2

In [95]:
tup1.index(3) # element is passed

1

In [99]:
tup1.count(2) # element is passed

1

In [105]:
l=[1,2,3,4,5]
s=tuple(l)
print(s)

TypeError: 'tuple' object is not callable